.supprimer{
    height: 40px;
    width: 180px;
    background: red;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    margin:20px;
}