.formCharge{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    input{
        height: 30px;
        border-radius: 10px;
        border: solid 0.2px;
    }
    button{
        margin-top: 10px;
        height: 25px;
        border-radius: 10px;
        border: solid 0.2px;
        font-weight: bold;
    }
}